:root {
  --red: #B9002D;
  --iron: #3D3B49;
}

body {
  font: 16px/26px 'sans-serif';
  color: var(--iron);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 54px;
  font-weight: 100;
  line-height: 1em;
  font-family: 'monospace';
}

h2 {
  font-size: 32px;
  line-height: 1.25em;
  font-family: 'sans-serif';
  font-weight: 700;
}

h3 {
  font-size: 30px;
  line-height: 1em;
}

h4 {
  font-size: 28px;
  line-height: 1em;
}

h5 {
  font-size: 20px;
  line-height: 1em;
}

h6 {
  font-size: 18px;
  line-height: 1em;
  font-weight: 100;
}

p,
.paragraph {
  font-size: 16px;
  line-height: 26px;
}

p.medium,
.paragraph.medium {
  font-size: 14px;
  line-height: 22px;
}

p.small,
.paragraph.small {
  font-size: 12px;
  line-height: 18px;
}

p.tiny,
.paragraph.tiny {
  font-size: 10px;
  line-height: 16px;
}

a {
  color: var(--red);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}
